.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 35px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 27px auto 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 27px auto 60px;
}