.u-section-1 .u-sheet-1 {
  min-height: 100vh;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  width: 1175px;
  margin: 6px auto 0 -35px;
}

.u-section-1 .u-repeater-1 {
  min-height: 189px;
  grid-template-columns: calc(16.6667% - 4.16667px) calc(16.6667% - 4.16667px) calc(16.6667% - 4.16667px) calc(16.6667% - 4.16667px) calc(16.6667% - 4.16667px) calc(16.6667% - 4.16667px);
  grid-gap: 5px 5px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 9px;
}

.u-section-1 .u-image-1 {
  height: 169px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 9px;
}

.u-section-1 .u-image-2 {
  height: 169px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 9px;
}

.u-section-1 .u-image-3 {
  height: 169px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 9px;
}

.u-section-1 .u-image-4 {
  height: 169px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 9px;
}

.u-section-1 .u-image-5 {
  height: 169px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 9px;
}

.u-section-1 .u-image-6 {
  height: 169px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-list-2 {
  width: 1175px;
  margin: 0 auto 0 -35px;
}

.u-section-1 .u-repeater-2 {
  min-height: 189px;
  grid-template-columns: calc(16.6667% - 4.16667px) calc(16.6667% - 4.16667px) calc(16.6667% - 4.16667px) calc(16.6667% - 4.16667px) calc(16.6667% - 4.16667px) calc(16.6667% - 4.16667px);
  grid-gap: 5px 5px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 9px;
}

.u-section-1 .u-image-7 {
  height: 169px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 9px;
}

.u-section-1 .u-image-8 {
  height: 169px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 9px;
}

.u-section-1 .u-image-9 {
  height: 169px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px 9px;
}

.u-section-1 .u-image-10 {
  height: 169px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px 9px;
}

.u-section-1 .u-image-11 {
  height: 169px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px 9px;
}

.u-section-1 .u-image-12 {
  height: 169px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-1 .u-custom-html-1 {
  margin-top: -159px;
  margin-bottom: 0;
}

.u-section-1 .u-list-3 {
  width: 195px;
  margin: 159px auto 60px -35px;
}

.u-section-1 .u-repeater-3 {
  min-height: 189px;
  grid-template-columns: 100%;
  grid-gap: 5px 5px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px 9px;
}

.u-section-1 .u-image-13 {
  height: 169px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 150px;
    grid-template-columns: repeat(6, calc(16.666666666666668% - 4.16667px));
  }

  .u-section-1 .u-image-1 {
    height: 132px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 132px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 132px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 132px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 132px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 132px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-2 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 150px;
    grid-template-columns: repeat(6, calc(16.666666666666668% - 4.16667px));
  }

  .u-section-1 .u-image-7 {
    height: 132px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 132px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 132px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 132px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 132px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-12 {
    height: 132px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-13 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 471px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.3333359999999996px));
  }

  .u-section-1 .u-image-1 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 471px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.3333359999999996px));
  }

  .u-section-1 .u-image-7 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-12 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 800px;
    grid-template-columns: repeat(2, calc(50% - 2.500002px));
  }

  .u-section-1 .u-image-1 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 800px;
    grid-template-columns: repeat(2, calc(50% - 2.500002px));
  }

  .u-section-1 .u-image-7 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-12 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-7 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-12 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }
}