.u-section-1 .u-sheet-1 {
  min-height: 445px;
}

.u-section-1 .u-image-1 {
  width: 285px;
  height: 160px;
  margin: 33px auto 60px 122px;
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 55px;
  }
}